p {
    font-size: 1em;
    color: green;
    font-weight: bold;
}
table{
      border: 1px dashed blue;
}

td {
    border: 1px solid red;
}
div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: cursive;
}
a:visited {
          color: #EE9A00;
}

a:hover {
        color: #00FF00;
}
#html {
      text-decoration: none;
      color: black;
}

.video {
        border-style: solid;
        border-width: 2px;
}
